nav {
  height: 120px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  position: fixed;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 45px;
}

.fa-angles-down {
  display: block !important;
  text-align: center;
  color: red;
}